body {
    background-color: #fffed4;
    text-align: center;
    list-style: none;
    font-family: Arial, Sans Serif;
    font-size: 20px;
}

h {
    font-size: 40px;
}

img {
    max-height: 200px;
}

.container {
    padding-top: 5px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
    overflow-x: scroll;
}

.burgerbox {
    margin-top: 20px;
    width: 250px;
    height: 400px;
    margin-bottom: 10px;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
    border-style: solid;
    border-image: none;
    border-radius: 8px;
    border-width: 1px;
    background-color: white;
    font-size: 17px;
    overflow-x: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.burgerbox h {
    padding-left: 10px;
    font-size: 25px;
}

.burgerbox p {
    padding-left: 10px;
    margin: 2px;
}

.getbutton {
    background-color: lightblue;
    display: flex;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

.appcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.burgerbutton {
    background-color: lightblue;
    display: flex;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
